
@{
    ViewBag.Title = "Reset password confirmation";
    Layout = Layout = "~/Views/Shared/MiLogin.cshtml"; ;
}
<div class="row login">
    <div class="col-sm-8 push-sm-1 col-md-4 push-md-4 col-lg-4 push-lg-4">
        <div class="text-xs-center m-2">
            <div class="icon-block rounded-circle">
                <img src="~/Images/login-icon-backend.png" />
                <!--i class="material-icons md-36 text-muted">lock</!--i>-->
            </div>
        </div>
        <div class="card bg-transparent">
            <div class="card-header bg-white text-xs-center">
                <h4 class="card-title">Contraseña Recuperada</h4>
                <p class="card-subtitle">Accede a tu cuenta</p>
            </div>
            <div class="p-2">
              
                <p>

                    Tu contraseña ha sido modificada correctamente. Por favor @Html.ActionLink("haga click aquí para iniciar sesisión. ", "Opositor", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    
                </p>
            </div>
            <div class="card-footer text-xs-center bg-white">
                &nbsp;
            </div>
        </div>
    </div>
</div>